#home {
    margin-bottom: 15%;
    .homeIntro {
        display: flex;
        margin-top: 2%;
        margin-left: 3%;
        margin-bottom: 10%;

        .topText {
            position: relative;
            margin-left: 4%;
            padding-top: 4%;
            h1 {
                font-family: $header-font;
                font-size: 1.4rem;
                font-weight: 600;
                letter-spacing: 0.4px;
                line-height: 1.6rem;
            }
    
            h2 {
                font-family: $body-font;
                font-weight: 600;
                font-size: 1rem;
                margin-bottom: 1%;
                color: rgb(161, 161, 161);
            }
        }

        .weather {
            display: none;
        }
    }

    #topArticles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 3% 0;

        .topArticle {
            width: 85%;
            margin: 0 auto 8%;
            background-color: white;
            box-shadow: 0 4px 10px -2px #6f808fcc;
            display: flex;
            padding: 1%;
            border-radius: 15px;
            img {
                width: 110px;
                object-fit: cover;
                height: 150px;
                border-radius: 15px;
            }

            .topArticleText {
                margin-left: 5%;
                margin-top: 4%;
                h3 {
                    font-family: $header-font;
                    font-weight: 600;
                    font-size: 0.9rem;
                    margin-bottom: 5%;
                    line-height: 1.1rem;
                }

                span {
                    font-family: $body-font;
                    font-size: 0.83rem;
                    width: 100%;
                    line-height: 1.1rem;
                    display: block;
                    color: #616060c7;
                }
            }
        }
    }

    .homeArticles {
        width: 100%;
        h2 {
            font-family: $header-font;
            font-weight: 600;
            font-size: 1.3rem;
            margin-bottom: 3%;
            margin-left: 7.5%;
            line-height: 1.8rem;
            width: 90%;
        }
        .articlesWrapper {
            display: flex;
            flex-direction: column;
            .article {
                width: 80%;
                margin: 0 auto 8%;
                height: 300px;
                background-color: #ffffff;
                border-radius: 10px;
                box-shadow: 0 4px 10px -4px #6f808f9f;
                text-decoration: none; 

                &:nth-child(n+5) {
                    display: none;
                }
                img {
                    width: 92%;
                    margin: 0 auto;
                    display: flex;
                    border-radius: 10px;
                    height: 150px;
                    margin-top: 4.5%;
                    object-fit: cover;
                    object-position: top;
                    align-items: flex-start;
                }
                h2 {
                    font-size: 1rem;
                    color: #041e3b;
                    margin-top: 4%;
                    line-height: 1.4rem;
                }
    
                p {
                    width: 85%;
                    margin: 2% auto 0;
                    font-family: $body-font;
                    font-size: 0.9rem;
                    color: #474747;
                    line-height: 1.2rem;
                }
            }
        }
    }
}