.blogPost {
    .postWrapper {
        margin-top: 10%;
        margin-bottom: 24%;
        .postSmall {
            width: 90%;
            margin: 0 auto;

            h1 {
                font-size: 2rem;
                line-height: 2.25rem;
                font-family: $header-font;
                font-weight: 600;
                width: 100%;
                text-transform: uppercase;
                margin-bottom: 1%;
            }

            div {
                p, h1, h2, h3, h4, h5 {
                    width: 100%;
                    margin: 0 auto 3%;
                    font-family: $body-font;
                    font-size: 0.85rem;
                    line-height: 1.3rem;
                    letter-spacing: 0.25px;
                }

                p {
                    margin: 5% auto;
                }

                h1, h2, h3, h4, h5 {
                    font-family: $header-font;
                    font-size: 1.125rem;
                    font-weight: 500;
                    margin-top: 10%;
                }
            }

            .postPreview {
                p {
                  font-style: italic;  
                  width: 100%;
                  margin: 0;
                  line-height: 1.2rem;
                  font-size: 0.8rem;
                  color: rgba(117, 117, 117, 0.829);
                  margin-bottom: 7%;
                  margin-top: 4%;
                }
            }
        }

        .postImage {
            width: 90%;
            margin: 8% auto 4%;
            display: flex;
            height: 180px;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: 0 4px 12px 0 #6f808f9f;
            align-items: flex-start;
        }

        .postImage2 {
            margin-top: 8%;
        }
    }
}