@media screen and (min-width: 1600px) {
    #container {
        width: 95%;
        height: 95vh;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    
          #routerWrapper {
            margin-top: 0;
            width: 99%;
            height: 99%;
            overflow: auto;
            scrollbar-width: thin;
          }
    }


    .page {
        padding-left: 115px !important;
    }

    header {
        width: 100px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        height: 95%;
        top: 2%;
        left: 2.5%;
        overflow:hidden;
        box-shadow: 5px 0 10px -5px rgba(51, 51, 51, 0.308);
    }
    
    #topNav {
        flex-direction: column;
    
        .navCon {
            margin-top: 10%;
            
            ul {
                display: block;
                li {
                    width: 28px;
                    margin: 40px auto;
                }
            }
        }
    
        .settingsBtn {
            width: 30px;
            top: 93%;
            right: 50%;
            transform: translateX(50%);
        }
    }

    #home {
        margin-bottom: 2%;
        .homeIntro {
            margin-bottom: 3%;
    
            .topText {
                margin-right: 11%;
                margin-left: 0;
                padding-top: 0;
    
                &::after {
                    position: absolute;
                    background-color: rgb(212, 212, 212);
                    width: 0.5%;
                    height: 130%;
                    content: '';
                    top: 0;
                    right: -30%;
                }
                h1 {
                    font-size: 1.7rem;
                    margin-top: 3%;
                    font-weight: 600;
                }
        
                h2 {
                    font-size: 1.2rem;
                }
            }
    
            .weather {
                display: flex;
                align-items: center;
                margin-top: 1%;
    
                img {
                    width: 40px;
                }
    
                .weatherTemp {
                    font-family: $body-font;
                    font-size: 1.4rem;
                    margin: 0 8% 0 8%;
                    font-weight: 600;
                }
    
                .weatherCity {
                    font-family: $body-font;
                    font-weight: 600;
                    font-size: 0.8rem;
                    line-height: 0.9rem;
    
                    div:nth-child(1) {
                        color: rgb(161, 161, 161);
                    }
                }
            }
        }
    
        #topArticles {
            margin: 3% 0 3% 2.5%;
            flex-direction: row;
            justify-content: normal;
            .topArticle {
                width: 350px;
                display: flex;
                margin-right: 4%;
                padding: 0.5%;
                border-radius: 15px;
                margin: 0 4% 0 0;
                img {
                    width: 120px;
                }
    
                .topArticleText {
                    h3 {
                        font-size: 1.1rem;
                        margin-bottom: 5%;
                    }
    
                    span {
                        font-size: 0.85rem;
                        width: 85%;
                    }
                }
            }
        }
    
        .homeArticles {
            width: 90%;
            margin-left: 1.5%;
            h2 {
                margin-left: 2%;
                font-size: 1.5rem;
                margin-bottom: 1%;
            }
            .articlesWrapper {
                flex-direction: row;
                justify-content: space-evenly;
                .article {
                    width: 220px;
                    height: 310px;
                    border-radius: 15px;
                    box-shadow: 0 4px 10px -2px #6f808f9f;
                    margin-bottom: 0;

                    &:nth-child(n+5) {
                        display: block;
                    }
                    img {
                        border-radius: 15px;
                        height: 140px;
                    }
                    h2 {
                        font-size: 1.1rem;
                        margin-top: 8%;
                        margin-left: 4%;
                    }
        
                    p {
                        width: 90%;
                        margin-left: 4%;
                        margin-top: 2%;
                        line-height: 1.3rem;
                    }
                }
            }
        }
    }


}