@media screen and (min-width: 411px) {
    #home {
        margin-bottom: 10%;
        .homeIntro {
            .topText {
                margin-left: 2%;
                h1 {
                    margin-left: 0;
                    width: 85%;
                    line-height: 2.3rem;
                    font-size: 1.8rem;
                }
                h2 {
                    font-size: 1.125rem;
                }
            }
        }
        #topArticles {
            margin: 8% 0 6%;
        }
        .homeArticles {
            h2:nth-child(1) {
                margin-left: 5%;
            }
            .articlesWrapper {
                flex-direction: row;
                overflow-x: auto;

                .article {
                    width: 190px;
                    margin: 0 4% 8% 2%;
                    flex: 0 0 auto;

                    img {
                        width: 180px;
                        height: 130px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #topNav {
        .navCon {
            ul {
                width: 60%;
                margin: 0 auto;
                li {
                    width: 28px;
                }
            }
        }

        .settingsBtn {
            right: 2%;
            top: 20%;
            width: 19px;
        }
    }
    #home {
        .homeIntro {
            .topText {
                &::after {
                    position: absolute;
                    background-color: rgb(212, 212, 212);
                    width: 0.5%;
                    height: 120%;
                    content: '';
                    top: 0;
                    right: 10%;
                }
                h1 {
                    line-height: 2.4rem;
                    font-size: 1.9rem;
                }

                h2 {
                    font-size: 1.25rem;
                }
            }

            .weather {
                display: flex;
                align-items: center;
                margin-top: 5%;
                img {
                    width: 55px;
                }

                .weatherTemp {
                    font-family: $body-font;
                    font-size: 1.4rem;
                    margin: 0 12% 0 6%;
                    font-weight: 600;
                }
    
                .weatherCity {
                    font-family: $body-font;
                    font-weight: 600;
                    font-size: 0.8rem;
                    line-height: 0.9rem;
    
                    div:nth-child(1) {
                        color: rgb(161, 161, 161);
                    }
                }
            }
        }

        .homeArticles {
            h2 {
                font-size: 1.4rem;
            }
            .articlesWrapper {
                .article {
                    margin-right: 2%;
                }
            }
        }

        #topArticles {
            .topArticle {
                width: 67%;
                margin-bottom: 5%;
            img {
               width: 145px;
               height: 140px; 
            }

            .topArticleText {
                h3 {
                    font-size: 1.1rem;
                    margin-bottom: 3%;
                }

                span {
                    width: 90%;
                    line-height: 1.2rem;
                    font-size: 0.9rem;
                }
            }
        }
            }
    }
}

@media screen and (min-width: 1024px) {
    #container {
        width: 95%;
        height: 95vh;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    
          #routerWrapper {
            margin-top: 0;
            width: 99%;
            height: 99%;
            overflow: auto;
            scrollbar-width: thin;
          }
    }


    .page {
        padding-left: 115px !important;
    }

    header {
        width: 100px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        height: 95%;
        top: 2%;
        left: 2.5%;
        overflow:hidden;
        box-shadow: 5px 0 10px -5px rgba(51, 51, 51, 0.308);
    }
    
    #topNav {
        flex-direction: column;
    
        .navCon {
            margin-top: 10%;
            
            ul {
                display: block;
                li {
                    width: 28px;
                    margin: 40px auto;
                }
            }
        }
    
        .settingsBtn {
            width: 30px;
            top: 93%;
            right: 50%;
            transform: translateX(50%);
        }
    }

    #home {
        margin-bottom: 0;
        #topArticles {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 4% 0 5%;
            .topArticle {
                width: 42%;
                margin-bottom: 4%;

                img {
                    width: 125px;
                }

                h3 {
                   font-size: 1rem;
                   margin-bottom: 5%;
                }

                p {
                   font-size: 0.82rem; 
                }
            }
        }

        .homeArticles {
            .articlesWrapper {
                .article {
                    width: 215px;
                    img {
                        width: 200px;
                        height: 140px;
                    }
                    p {
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    #container {
        width: 95%;
        height: 95vh;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    
          #routerWrapper {
            margin-top: 0;
            width: 99%;
            height: 99%;
            overflow: auto;
            scrollbar-width: thin;
          }
    }


    .page {
        padding-left: 115px !important;
    }

    header {
        width: 100px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        height: 95%;
        top: 2%;
        left: 2.5%;
        overflow:hidden;
        box-shadow: 5px 0 10px -5px rgba(51, 51, 51, 0.308);
    }
    
    #topNav {
        flex-direction: column;
    
        .navCon {
            margin-top: 10%;
            
            ul {
                display: block;
                li {
                    width: 28px;
                    margin: 40px auto;
                }
            }
        }
    
        .settingsBtn {
            width: 30px;
            top: 93%;
            right: 50%;
            transform: translateX(50%);
        }
    }

    #home {
        margin-bottom: 2%;
        .homeIntro {
            margin-bottom: 5%;
    
            .topText {
                margin-right: 11%;
                margin-left: 0;
                padding-top: 0;
    
                &::after {
                    position: absolute;
                    background-color: rgb(212, 212, 212);
                    width: 0.5%;
                    height: 130%;
                    right: -25%;
                }
                h1 {
                    font-size: 2rem;
                    margin-top: 2%;
                    font-weight: 600;
                }
        
                h2 {
                    font-size: 1.2rem;
                }
            }
    
            .weather {
                display: flex;
                align-items: center;
                margin-top: 1%;
    
                .weatherTemp {
                    font-family: $body-font;
                    font-size: 1.4rem;
                    margin: 0 8% 0 6%;
                    font-weight: 600;
                }
    
                .weatherCity {
                    font-family: $body-font;
                    font-weight: 600;
                    font-size: 0.8rem;
                    line-height: 0.9rem;
    
                    div:nth-child(1) {
                        color: rgb(161, 161, 161);
                    }
                }
            }
        }
    
        #topArticles {
            margin: 4% 0 4% 2.5%;
            flex-direction: row;
            justify-content: normal;
            .topArticle {
                width: 350px;
                display: flex;
                margin-right: 4%;
                padding: 0.5%;
                border-radius: 15px;
                margin: 0 4% 0 0;
                img {
                    width: 120px;
                }
    
                .topArticleText {
                    h3 {
                        font-size: 1.1rem;
                        margin-bottom: 5%;
                    }
    
                    span {
                        font-size: 0.85rem;
                        width: 85%;
                    }
                }
            }
        }
    
        .homeArticles {
            width: 90%;
            margin-left: 1.5%;
            h2 {
                margin-left: 2%;
                font-size: 1.5rem;
                margin-bottom: 1%;
                width: 100%;
                &:nth-child(1) {
                    margin-left: 2%;
                }
            }
            .articlesWrapper {
                flex-direction: row;
                justify-content: space-evenly;
                overflow-x: initial;
                .article {
                    width: 220px;
                    height: 310px;
                    border-radius: 15px;
                    box-shadow: 0 4px 10px -2px #6f808f9f;
                    margin-bottom: 0;
                    margin-left: 0;
                    margin-right: 2%;

                    &:nth-child(n+5) {
                        display: block;
                    }
                    img {
                        border-radius: 15px;
                        height: 140px;
                        width: 92%;
                    }
                    h2 {
                        font-size: 1.1rem;
                        margin-top: 8%;
                        margin-left: 4%;
                    }
        
                    p {
                        width: 90%;
                        margin-left: 4%;
                        margin-top: 2%;
                        line-height: 1.3rem;
                    }
                }
            }
        }
    }

    .blogPost {
        .postWrapper {
            margin-top: 5%;
            margin-bottom: 3%;
            .postSmall {
                width: 62.5rem;
    
                h1 {
                    font-size: 4.25rem;
                    line-height: 5.25rem;
                    width: 65%;
                }
    
                div {
                    p, h1, h2, h3, h4, h5 {
                        margin: 0 auto 2%;
                        font-size: 0.98rem;
                        line-height: 1.6rem;
                    }
    
                    h1, h2, h3, h4, h5 {
                        font-size: 1.6rem;
                        margin-top: 4%;
                    }
                }
    
                .postPreview {
                    p {
                      width: 80%;
                      line-height: 1.5rem;
                      font-size: 1rem;
                      margin-top: 0;
                    }
                }
            }
    
            .postImage {
                width: 75%;
                margin: 0 auto 4%;
                height: 650px;
                border-radius: 8px;
            }
    
            .postImage2 {
                margin-top: 5%;
            }
        }
    }


}